body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.file-upload {
    padding: 15% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #4f5de4;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
  font-family: NanumSquareR;
  line-height: 1.68;
  text-align: left;
  color: #35465d; 
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 100px;
}

.title {
  font-family: NanumSquareR;
  line-height: 1.67;
  text-align: center;
  color: #35465d;
}

.subtitle {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

.healthy_title {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: green;
}

.black_title {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: black;
}

.yellow_title {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: yellow;
}

.red_title {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: red;
}

.pale_title {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: white;
}

.freckles_title {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: brown;
}

.darkcircle_title {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: black;
}

.explain {
  font-family: NanumSquareR;
  line-height: 1.53;
  text-align: center;
  color: purple;
}

.bar-container {
  height: 2.7rem;
}
.healthy-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.healthy-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.black-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.black-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(78, 82, 76);
}
.yellow-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 255, 32, 0.2);
}
.yellow-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(236, 240, 10);
}
.red-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(238, 81, 146, 0.384);
}
.red-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(241, 98, 182);
}
.pale-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(165, 231, 231, 0.2);
}
.pale-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(81, 158, 221);
}
.freckles-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(214, 100, 34, 0.2);
}
.freckles-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(163, 99, 25);
}
.darkcircle-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.darkcircle-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.healthy-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    font-size: 2rem;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}


.ad-banner {
  width: 320px;
  margin: 0 auto;
}

.addthis_inline_share_toolbox {
  margin: 0 auto;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}

.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-family: NanumSquareR;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.tip {
  text-align: center;
}

.border-b {
  text-align: center;
}